* {
  box-sizing: border-box;
  font-size: 1.3rem;
}

.table {
  text-align: center;
}

.table .task {
  width: 80vw;
}
.table .id {
  width: 17vw;
}
.edit {
  margin: 5px;
}
.text {
  width: 100%;
}
.but {
  width: 10%;
}
div {
  margin: 5px 0px;
}
h1 {
  text-align: center;
}
